<ng-container>
  <section class="h-100 h-custom">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col">
          <div class="card">
            <div class="card-body p-4">

              <div class="row">

                <div class="col-lg-7">
                  <h5 class="mb-3"><a [routerLink]="['/products']" class="text-body"><i
                    class="bi bi-arrow-left me-2"></i>Continuer votre shopping</a></h5>
                  <hr>

                  <div class="d-flex justify-content-between align-items-center mb-4">
                    <div>
                      <p class="mb-1">Panier</p>
                      <p class="mb-0"> {{(purchasedElementsNumber$|async) > 0? "vous avez "+(purchasedElementsNumber$|async)+" articles dans votre panier": "Votre Panier est vide"}} </p>
                    </div>
                  </div>
                   <div *ngFor="let item of purchasedElements$ | async">
                    <app-panier-element [panierElement]="item"> </app-panier-element>
                   </div>
                    </div>
                <div class="col-lg-5   my-auto">

                  <div class="card bg-primary text-white rounded-3 card-block ">

                    <div class="card-body">

                      <div class="d-flex justify-content-between">
                        <p class="mb-2">Total taxes</p>
                        <p class="mb-2">{{((totalTaxes$ | async )? ( totalTaxes$ | async ):0.00 ) | currency:'EUR'}}</p>
                      </div>
                      <div class="d-flex justify-content-between mb-4">
                        <p class="mb-2">Total TTC</p>
                        <p class="mb-2">{{((totalTTC$ | async )? ( totalTTC$ | async ):0.00 ) | currency:'EUR'}} </p>
                      </div>

                    </div>
                  </div>

                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</ng-container>
<ng-template>
  <div class="col-4 p-2" >
  <app-panier-element ></app-panier-element>
</div>
</ng-template>

