<div class="row mx-auto ">

  <div class="col-md-8  col-lg-10" [formGroup]="categoryFilter">
    <p class="card-title  p-3" style="font-size:medium;">Filtrer par catégorie <i class="bi bi-funnel-fill" aria-hidden="true"></i>
    </p>
    <select class="form-select  category " formControlName="filter" aria-label="Default select example">
      <option [value]="ALL">All</option>
      <option *ngFor="let option of categories$ | async" [value]="option">{{option}}</option>
    </select>
  </div>
  <div class="col-md-4 col-lg-2 d-flex align-items-end">
    <button type="button" class="btn btn-primary  d-flex align-items-center notification textcol shadow "
            (click)="RedirectToShoppingCart()">
      <i class="bi bi-cart"> </i> Panier
      <span
        class="badge badge-info">{{(purchasedElementsNumber$|async) > 0 ? (purchasedElementsNumber$|async) : ""}}</span>
    </button>
  </div>
  <div class="row mx-auto">
    <div class=" col-sm-12 col-lg-4 p-1" *ngFor="let item of  filtredProducts$|async">
      <app-product [productElement]="item" (addElement)="addElementToCart($event)"></app-product>
    </div>
  </div>
</div>
