.category {
  max-height: 40px;
  margin-bottom: 10px;
  margin-left: 10px;
  align-items: center;
  justify-content: center;
}

.form-inputs {
  position: relative;
}

.form-inputs .form-control {
  height: 45px;
}

.form-inputs .form-control:focus {
  box-shadow: none;
  border: 1px solid #000;
}

.form-inputs i {
  position: absolute;
  right: 10px;
  top: 15px;
}

.bi-funnel-fill {
  color: #e21a7a
}

.shop-bag {
  background-color: #008991;
  color: #fff;
  height: 40px;
  width: 40px;
  font-size: 25px;
  display: flex;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
}

.qty {
  font-size: 12px;
}

icon-shape {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  vertical-align: middle;
}

.icon-sm {
  width: 2rem;
  height: 2rem;
}

.notification {
  background-color: #008991;
}

.badge {
  padding: 5px;
  font-size: 11px;
  background-color: red;
  color: white;
}


.textcol {
  color: white !important;
  display: inline-block !important;
  height: 40px;
  margin-bottom: 10px;
}

.currency {
  font-weight: bold;
  color: red;
  font-size: 0.6em;
  vertical-align: text-top;
}

.price {
  font-family: 'DINPro-CondMedium', 'Helvetica Neue', Helvetica;
  color: #e21a7a !important;
  font-size: 1em;
}

.divider {
  padding-top: 3rem !important;
}

.catsi {
  font-size: 1em !important;
}

@media screen and (max-width: 700px) {
  .notification {
    width: 100% !important;
  }
}

@media screen and (max-width: 700px) {
  .inputinc {
    width: 40% !important;
  }
}
